

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: black;
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

img{
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.banner {
    text-align: center;
    padding: 100px 20px;
    background: url('https://source.unsplash.com/1600x900/?cinema') no-repeat center center/cover;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 20px;
}

.banner button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00a8e1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.banner button:hover {
    background-color: #007aa5;
}

.content {
    padding: 50px;
    text-align: center;
}

.movie-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.movie {
    width: 200px;
    height: 300px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px;
}
.movie img{
    width: 600px;
    height: 300px;
}


#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: black;
}
.content3 {
    flex: 1;
    padding: 20px;
    text-align: left;
}

h2 {
    font-size: 38px;
    color: #222;
    margin-bottom: 10px;
}

p {
    font-size: 28px;
    color: #444;
    margin-bottom: 20px;
}
.button3 {
    display: flex;
    gap: 15px;
    
}




.btn1 {
    background-color: #2C3E50;
    color: white;
    font-size: 20px;
}

.btn2 {
    background-color: #E74C3C;
    color: white;
    font-size: 20px;
}
.image4 {
    
    display: flex;
    justify-content: center;
}

.image4 img {
    width: 80%;
    height: 550px;
}



.rev {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.rev1 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}
.star1 {
    font-weight: bold;
    color: #007BFF;
}
.stars {
    color: #FFD700;
    font-size: 20px;
}